<button 
    class="button is-primary" 
    type="button"
    {{on 'click' this.addCard}}>
    Add Card
</button>
<Input 
    @value={{this.question}} 
    class="input is-inline" 
    @type="text" 
    placeholder="Question"
/>
<Input 
    @value={{this.answer}} 
    class="input is-inline" 
    @type="text" 
    placeholder="Answer"
/>
