<button type="button" {{on 'click' this.flipCard}}>
    <div class="card">
        <div class="card-content">
            <p class="title question">
                {{@question}}
            </p>
            <p class="title answer hidden">
                {{@answer}}
            </p>
        </div>
    </div>
</button>