{{page-title "CSCI 5117 Flashcards"}}
{{!-- Bulma CSS --}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

{{!-- Font Awesome --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

<Navbar />

{{!-- Main content --}}
<div class="container">
    {{outlet}}
</div>